<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
  />
</head>
<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        <span><i class="fas fa-home"></i></span>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
  
        <a class="navbar-item">
          Docs
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger is-outlined">
              Report Issue
            </a>
            <a class="button is-primary">
              <strong>Log in</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Site Id: <span data-js="site_id"><a><%= site_id %></a></span>
        </h1>
        <h2 class="subtitle">
          <%= site_name %>
        </h2>
      </div>
    </div>
  </section>
    <section class="section">
      <div class="container">
              <div class="columns">
                <div class="column">
                  <p><%=site_type %></p>
                  <span><%= link_type %></span>
                </div>
                <div class="column">
              <ul>
                <li>Site Name: <%= site_name %></li>
                <li>Site Type: <%= site_type %></li>
                <li>Address: <%= location.address %></li>
                <li>City: <%= location.city %></li>
                <li>Planet: <%= location.planet %></li>
                <li data-js="site_lat"><%= location.lat %></li>
                <li data-js="site_long"><%= location.long %></li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <% for (const [key, value] of Object.entries(related_sites)) { %>
                <li><%= key %>:<a> <%= value %></a></li>
                <% } %>
              </ul>
            </div>
            <div class="column">
              <ul>
                <% tech.forEach(function(t){ %>
                <li><%= t %></li>
                <% }) %>
              </ul>
            </div>
              </div>
              <div class="tabs is-centered">
                <ul>
                  <li><a>Summary</a></li>
                  <li class="is-active" id="tab_attributes"><a>Attributes</a></li>
                  <li><a>Tickets</a></li>
                  <li><a>Alarms</a></li>
                  <li id="tab_map"><a data-js="tab_toggle_map">Map</a></li>
                  <li><a>Performance</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <section class="section">
        <div id="map_container" class="has-background-dark p-2 is-hidden">
          <div style="height: 400px" class="as-background-dark" id="mapid"></div>
        </div>
      </section>

      <script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

<script>
    let site_id = document.querySelector('[data-js="site_id"]').innerHTML;
  let site_lat = document.querySelector('[data-js="site_lat"]').innerHTML;
  let site_long = document.querySelector('[data-js="site_long"]').innerHTML;
  var mymap = L.map("mapid")
  
  mymap.setView(
    [parseInt(site_lat), parseInt(site_long)],
    13
  );

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(mymap);

  var circle = L.circle([parseInt(site_lat), parseInt(site_long)], {
    color: "red",
    fillColor: "#f03",
    fillOpacity: 0.5,
    radius: 100,
  })
    .addTo(mymap)
    .on("click", onClick);

  function onClick(e) {
    const URL = "/site_status/report?site_id=" + site_id;
    window.open(URL, "_blank");
  }

  var popup = L.popup();

  circle.on("mouseover", function () {
    circle.bindPopup("Site id: " + site_id).openPopup();
  });

  circle.on("mouseout", function () {
    circle.closePopup();
  });

  let tab_toggle_map = document.querySelector('[data-js="tab_toggle_map"]');
  let map_container = document.querySelector('#map_container');
  let tab_attributes = document.querySelector('#tab_attributes');
  let tab_map = document.querySelector('#tab_map');

  tab_toggle_map.addEventListener('click', () => {
    map_container.classList.remove('is-hidden');
    tab_map.classList.add('is-active');
    tab_attributes.classList.remove('is-active');
    mymap.invalidateSize();
  })
</script>

</body>
</html>