<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Tower 360
        </h1>
        <h2 class="subtitle">
          Tickets, Maintenance, Status, Health-checks
        </h2>
      </div>
    </div>
  </section>
  
<div class="container">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form action="<%= form_url %>" method="POST">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="site_id" id="site_id" placeholder="123456">
                        </div>
                        <div class="control">
                            <button class="button is-info" type="submit">
                            Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<div class="container">
  <section class="section">
    <div class="table-container" style="display: flex; justify-content: center;">
      <table class="table">
        <thead>
          <tr class="has-text-centered">
            <% Object.keys(data[0]).forEach((k) => { %>
              <th><%= k %></th>
            <% }) %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <% Object.keys(data[0]).forEach((k) => { %>
              <th><%= k %></th>
            <% }) %>
          </tr>
        </tfoot>
        <tbody>
          <!-- TODO: Account for nested objects, and add links for site ids -->
          <% data.forEach((d) => { %>
            <tr>
              <% for (const [key, value] of Object.entries(d)) { %>
                <% if (key === "site_id") { %>
                  <td><a href="/tower_360/report?site_id=<%= value %>"><%= value %></a></td>
                <% } else { %>
                  <td><%= value %></td>
                <% } %>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
</section>
</div>